@import"/styles/main";
.detailed-page{
    display: flex;
    gap: 2rem;
    .details{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
    }
}